<div class="stomac">
	<div class="container">

		<h2>My Blog</h2>
		
		<form class="search" role="search">
	      <%= form_tag(@post, :method => 'get') do %>
	       
				<div class="row">
					<div class="col-md-10"><%= text_field_tag('search', params[:search], :class => "form-control") %></div>
		          <div class="col-md-2"><%= submit_tag("Search", :class => 'btn btn-default') %></div>
		        </div
	        
	      <%end%>
	    </form>
		
		<div class="row">
			<div class="col-md-4">I have <%= pluralize(@posts.size, 'post')%></div>
			<div class="col-md-4">
				<% if user_signed_in?%>
					<p>You are login like <strong><%= current_user.email %></strong></p>
				<%end%>
			</div>
			<div class="col-md-4"></div>
		</div>
		
		<hr>
		<div class="post">
			<% @posts.each do |post| %>
				<h2 class="title"><%= link_to post.title, post %></h2>
				<h5><%= truncate(post.body, :length => 80) %></h5>

				<h5>Created by <strong><%= post.user.email %> </strong> and posted at <strong><%= post.created_at.strftime("%B %d. %Y")%></strong> </h5>
				
				<div class="btn-group"> 
			      <%= link_to like_post_path(post), method: :put do %>
			        <%= image_tag("Thumbs_Up.png", :size => '40x40') %>
			        <%= post.get_upvotes.size %>
			      <% end %>
			      <%= link_to dislike_post_path(post), method: :put do %>
			        <%= image_tag("Thumbs_down.png", :size => '40x40') %>
			        <%= post.get_downvotes.size %>
			      <% end %>
			    </div>
			    <hr>
			<%end%>
		</div>	
	</div>
</div>
