<div class="stomac">
	<div class="container">

		<h2>Your post: </h2>

		<div class="btn-group pull-right">
		  <%= link_to like_post_path(@post), method: :put do %>
		    <%= image_tag("Thumbs_Up.png", :size => '40x40') %>
		    <%= @post.get_upvotes.size %>
		  <% end %>
		  <%= link_to dislike_post_path(@post), method: :put do %>
		    <%= image_tag("Thumbs_down.png", :size => '40x40') %>
		    <%= @post.get_downvotes.size %>
		  <% end %>
		</div>

			<div class="row">
				<div class="col-md-2">Title: </div>
				<div class="col-md-8"><strong><%= @post.title %></strong></div>
				<div class="col-md-2"> </div>
			</div>
			<div class="row">
				<div class="col-md-2">Created before: </div>
				<div class="col-md-8"><%= time_ago_in_words(@post.created_at) %></div> 
				<div class="col-md-2"> </div>
			</div>
			<div class="row">
				<div class="col-md-2">Body: </div>
				<div class="col-md-8"><%= @post.body%>  </div>
				<div class="col-md-2"> </div>
			</div>
			<br>
			<div class="row">
				<% if user_signed_in? && current_user.email == @post.user.email %>
					<div class="col-md-2"> </div>
					 <div class="col-md-3"><%= link_to "Edit", edit_post_path(@post), :class => 'btn btn-block btn-info'%> </div> 
					 <div class="col-md-3"><%= link_to "Beck", root_path, :class => 'btn btn-block btn-info'%> </div>  
					 <div class="col-md-3"><%= link_to "Delete", post_path(@post),:class => 'btn btn-block btn-info', method: :delete, data: { confirm: 'Are you sure?'} %> </div>
					 <div class="col-md-1"> </div>
				<%end %>
			</div>


		<h2>Comments</h2>
		<h5><strong><%= @post.comments.count%> Comments </strong></h5>

		<div class="comment">
			<!-- display comments -->
			<%= render @post.comments %>


			<!-- comment form -->
			<%= render 'comments/form'%>
		</div>
	</div>
</div>